<div class="page-title"> <i class="fa fa-users"></i>
	<h3>Delegations</h3>
</div>

<div class="row-fluid">
    <div class="span12">
      <div class="grid simple ">
        <div class="grid-title">
          <h4>All <span class="semi-bold">Delegation</span> Participant</h4>
          <div class="tools"> <a href="javascript:;" class="reload"></a></div>
        </div>
        <div class="grid-body ">
          <table class="table table-hover table-condensed footable toggle-arrow-tiny" id="table1">
            <thead>
              <tr>
              	<th style="width:1%" data-hide="phone,tablet" >No</th>
                <th style="width:10%" data-hide="phone">IC/Passport</th>
                <th style="width:10%">Participant Name</th>
                <th style="width:10%" data-hide="phone,tablet">Email</th>
                <th style="width:10%" data-hide="phone">Type</th>
                <th style="width:10%">Status</th>
              </tr>
            </thead>
            <tbody>
            	<% 
     			num = 1
            	@registrations.each do|r| 
				 	#if  r.Register_status 
				 		status = "<span style='color:rgb(25, 155, 14)'>Registered</span>"
				 	#else  
				 	#	status = "<span style='color:rgb(255, 55, 55)'>Not Registered</span>"
				 	#end 

				 	type = @lookup.find{|t|t.Lookup_Code == r.Register_Type}
				%> 	
	            <tr>
	                <td><%= num %></td>
	                <td><%= r.Participant_IC %></td>
	                <td><%= r.Participant_Name %></td>
	                <td class="v-align-middle"><span class="muted"><%= r.Participant_email %></span></td>
	                <td><%= type.Lookup_Name.html_safe %></td>
	                <td><%= status.html_safe %></td>
	            </tr>
	            <% 
	            num=num+1

	            end 
	            %>

            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>
<script type="text/javascript">
window.onload = function(){
	$("#menu-nav > li:nth(0)").addClass("active");

   	//init footable for responsive
  	$('#table1').footable({
		breakpoints: {
			phone : 480,
		    tablet: 840
		  }
	});

	/** start datatable init **/
	var tableElement = $('#table1');

    tableElement.dataTable( {
		"sDom": "<'row'<'col-md-6'l T><'col-md-6'f>r>t<'row'<'col-md-12'p i>>",
			"oTableTools": {
			"aButtons": [
				{
					"sExtends":    "collection",
					"sButtonText": "<i class='fa fa-download'></i>",
					"aButtons":    [ "csv", "xls", "pdf", "copy"]
				}
			]
		},
		"aLengthMenu": [[10, 20, 30, 40, -1], [10, 20, 30, 40,"All"]],
        "iDisplayLength": 10,
		"sPaginationType": "bootstrap",
		//"aoColumnDefs": [
        //  { 'bSortable': false, 'aTargets': [ 0 ] }
		//],
		"aaSorting": [[ 0, "asc" ]],
		"oLanguage": {
			"sLengthMenu": "_MENU_ ",
			"sInfo": "Showing <b>_START_ to _END_</b> of _TOTAL_ participants"
		},
		 bAutoWidth     : false,
        fnPreDrawCallback: function () {

        },
        fnRowCallback  : function (nRow) {

        },
        fnDrawCallback : function (oSettings) {

        }
	});
	
	$('#table1_wrapper .dataTables_filter input').addClass("input-medium "); // modify table search input
    $('#table1_wrapper .dataTables_length select').addClass("select2-wrapper span12"); // modify table per page dropdown
	
	$('#table1 input').click( function() {
        $(this).parent().parent().parent().toggleClass('row_selected');
    });
	
	
	$('#quick-access .btn-cancel').click( function() {
		$("#quick-access").css("bottom","-115px");
    });
	$('#quick-access .btn-add').click( function() {
		fnClickAddRow();
		$("#quick-access").css("bottom","-115px");
    });

    /** end datatable init **/
	 
}
</script>